@page "/palots"

@using AgroContainerTracker.Domain
@using AgroContainerTracker.Core.Services
@inject IPalotService palotService

<h1>Palots</h1>

<a href="/palots/create" class="btn btn-primary">Añadir palot</a>

@if (palots == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cámara</th>
                <th>Tamaño</th>
                <th>#Palots</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var palot in palots)
            {
                <tr>
                    <td>@palot.PalotId</td>
                    @*<td>@palotIsActive.</td>*@
                    <td>@*@palot.Palots.Count*@</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Palot> palots = new List<Palot>();

    protected override async Task OnInitializedAsync()
    {
        palots = await palotService.GetPalotsAsync();
    }
}
