@using AgroContainerTracker.Domain.Companies
@using AgroContainerTracker.Core.Services

@inject ISupplierService supplierService
@inject NavigationManager navigationManager
@inject DialogService dialogService
@inject NotificationService notificationService

<Loading ShowSpinner="@isLoading"></Loading>

<div class="row mt-3">
    <div class="col-lg-4">
        <a href="/suppliers/create" class="btn btn-outline-primary"><span class="oi oi-plus"></span> Agregar proveedor</a>
    </div>
</div>

@if (suppliers == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row mt-5">
        <div class="col-lg-12">
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                        AllowSorting="true" Data="@suppliers" TItem="Supplier" ColumnWidth="200px" EmptyText="No se han encontrado resultados.">
                <Columns>
                    <RadzenGridColumn TItem="Supplier" Property="SupplierNumber" Title="Número" Width="75px">
                        <FooterTemplate>
                            Total: <b>@suppliers.Count()</b>
                        </FooterTemplate>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Supplier" Property="Name" Title="Nombre" />
                    <RadzenGridColumn TItem="Supplier" Property="Email" Title="Email" />
                    <RadzenGridColumn TItem="Supplier" Property="Phone" Title="Teléfono" />
                    <RadzenGridColumn TItem="Supplier" Sortable="false" Filterable="false" TextAlign="TextAlign.Center" Width="50px">
                        <Template Context="data">
                            <span class="oi oi-magnifying-glass" @onclick="() => OpenSupplierDetails(data.SupplierId)"></span>
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Supplier" Sortable="false" Filterable="false" TextAlign="TextAlign.Center" Width="50px">
                        <Template Context="data">
                            <span class="oi oi-pencil" @onclick="() => OpenSupplierEdit(data.SupplierId)"></span>
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="Supplier" Sortable="false" Filterable="false" TextAlign="TextAlign.Center" Width="50px">
                        <Template Context="data">
                            <span class="oi oi-trash" @onclick="() => ShowRemoveSupplierDialog(data)"></span>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </div>
    </div>

}

@code {
    private List<Supplier> suppliers = new List<Supplier>();
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            suppliers = await supplierService.GetAllAsync().ConfigureAwait(false);
            isLoading = false;
            await InvokeAsync(() => { StateHasChanged(); });
        }
    }

    private void OpenSupplierDetails(int supplierId)
    {
        navigationManager.NavigateTo($"/suppliers/details/{supplierId}");
    }

    private void OpenSupplierEdit(int supplierId)
    {
        navigationManager.NavigateTo($"/suppliers/edit/{supplierId}");
    }

    private async Task RemoveSupplier(Supplier supplier)
    {
        NotificationMessage message;
        bool deleted = await supplierService.DeleteAsync(supplier.SupplierId).ConfigureAwait(false);
        dialogService.Close(true);

        if (deleted)
        {
            suppliers.Remove(supplier);
            await InvokeAsync(() => { StateHasChanged(); });

            message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Proveedor eliminado",
                Detail = "El proveedor se ha eliminado correctamente",
                Duration = 4000
            };
        }
        else
        {
            message = new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Se ha producido un error al borrar el proveedor.",
                Duration = 4000
            };
        }

        Notify(message);
    }

    private async Task ShowRemoveSupplierDialog(Supplier supplier)
    {
        await dialogService.OpenAsync("Eliminar proveedor", ds =>
            @<div class="text-center" style="padding: 20px;">
                <p Style="margin-bottom: 10px;">¿Estás seguro de que quieres borrar este proveedor?</p>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <RadzenButton Text="Cancelar" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" />
                        <RadzenButton Text="Eliminar" Click="() => RemoveSupplier(supplier)" ButtonStyle="ButtonStyle.Danger" />
                    </div>
                </div>
            </div>);
    }

    private void Notify(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

}