@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, comprueba tu correo electrónico para restablecer tu contraseña.
</p>

