@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reestablecida. Por favor <a asp-page="./Login">, haz click aquí para iniciar sesión</a>.
</p>
