@page "/containers/create"

@using AgroContainerTracker.Domain
@using AgroContainerTracker.Services
@inject IContainerService containerService

<h1>Crear contenedor</h1>

<EditForm Model="@container" OnValidSubmit="AddContainer">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <label for="name">Cámara</label>
    <InputNumber id="name" @bind-Value="container.ContainerId" class="form-control"/>

    <label for="size">Tamaño</label>
    <InputNumber id="size" @bind-Value="container.Size" class="form-control" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


@code {


    private AddContainerRequest container = new AddContainerRequest();

    public void AddContainer()
    {
        try
        {
            containerService.AddContainerAsync(container);
        }
        catch (Exception e)
        {

        }
    }
}
