@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenDialog></RadzenDialog>
<RadzenNotification></RadzenNotification>

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4 auth">
                <LoginDisplay />
            </div>
            <div class="container content px-4">
                @Body
            </div>
        </div>
    </Authorized>
</AuthorizeView>


