<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Piñuela AgroFruit</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<AuthorizeView>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Inicio
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/entradas" Match="NavLinkMatch.All">
                    <i class="material-icons navbar-icon">arrow_forward</i> Entradas
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/camaras">
                    <span class="oi oi-grid-three-up" aria-hidden="true"></span> Cámaras frío
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/envases">
                    <span class="oi oi-box" aria-hidden="true"></span> Envases
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/empresas">
                    <span class="oi oi-people" aria-hidden="true"></span> Clientes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/tarifas">
                    <span class="oi oi-euro" aria-hidden="true"></span> Tarifas
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/frutas">
                    <i class="material-icons navbar-icon">eco</i> Frutas
                </NavLink>
            </li>
        </ul>
    </div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
